<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Restaurant Meronne</title>
		<link rel="stylesheet" type="text/css" href="../../resurse/CSS/primapagina.css">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script  src="index.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Costrun Larisa">
		<meta name="description" content="Restaurant Meronne">
		<meta name="keywords" content="restaurant,rating,profesionalism,bucatarie">
		<link rel="shortcut icon" type="image/x-icon" href="resurse/Imagini/favicon.ico"/>
	</head>
	<body>			
		Pagina nu a fost gasita.
	</body>
</html>


