<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Restaurant Meronne</title>
		<link rel="stylesheet" type="text/css" href="CSS/header.css">
		<link rel="stylesheet" type="text/css" href="CSS/footer.css">
        <script src=" Javascript/order.js"></script>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script  src="index.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Costrun Larisa">
		<meta name="description" content="Restaurant Meronne">
		<meta name="keywords" content="restaurant,rating,profesionalism,bucatarie">
		<link rel="shortcut icon" type="image/x-icon" href="Imagini/favicon.ico"/>
	</head>
	 <%-include("../fragmente/header.ejs")%>
		Pagina nu a fost gasita.
<footer>
		<h2>Contact</h2>
			<address id="contact">
				<p>Calea Floreasca nr. 60, București, România.</p>
				<p>E-mail:<a href="mailto:g.meronne@restaurant.ro">g.meronne@restaurant.ro</a></p>
				<p>Telefon:0336750011.</p>
				<a href="/#sectiune11">Before you contact us,be sure wheter the answer is on the page or not!Jump to the first page!</a>
			</address>
		</footer>
	<div class="footer">
		<div class="restaurant2"></div>
	</div>
	</body>
</html>


