<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Order online</title>
		<link rel="stylesheet" type="text/css" href="resurse/CSS/header.css">
		<link rel="stylesheet" type="text/css" href="resurse/CSS/order.css">
		<link rel="stylesheet" type="text/css" href="resurse/CSS/footer.css">
		<link rel="stylesheet" type="text/css" href="resurse/CSS/cos.css">
		<script src="resurse/Javascript/cos.js"></script>
        <script src="resurse/Javascript/order.js"></script>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Costrun Larisa">
		<meta name="description" content="Comenzi online cu livrare la domiciliu">
		<meta name="keywords" content="comenzi,online,livrare">
		<link rel="shortcut icon" type="image/x-icon" href="resurse/Imagini/./favicon.ico"/>
		<style>
		html{
		scroll-behavior:smooth;
	
		}
	
		</style>
	</head>
	<body>
		<div class="banner">
			<div class="headerul">
                <% include ../fragmente/header.ejs %>
						<div class="sectiune">
								<h1> Meronne </h1>
								<aside class="subtitlu"> The little Italy on your taste buds since <time datetime="2015-06-01">01.06.2015.</time></aside></div>
							<nav class="wrapper">
								<ul class="menu">
											<li><a href="index.html#sectiune11">Home</a>
													<ul class="submenu">
														<li><a href="index.html#subsectiune1" >Ce este Meronne?</a></li>
														<li><a href="index.html#subsectiune2">Program</a></li>
														<li><a href="index.html#subsectiune3">Specific Italienesc</a></li>
														<li><a href="index.html#subsectiune4">Most wanted this month!</a></li>
													</ul>
										
											</li>	
											<li><a href="recipes.html"> Recipes </a></li>
											<li><a href="menu.html"> Menu </a></li>
											<li><a href="gallery.html">Gallery</a></li>
											<li><a href="order.html"> Order online </a></li>
											<li><a href="book.html"> Book a table </a></li>
											<li class="cos">
												<a href="cos.html"><span>0</span><img class="shop" src="resurse/Imagini/shopping-cart-32.ico"></img>
												</a>
											</li>
								</ul>
							</nav>
			</div>
		</div>
<div class="wrapper">
<div class="container">
		<div class="bara_prod">
            
			<h3 class="produs">PRODUS</h3>
			<h3 class="pret">PRET</h3>
			<h3 class="cantitate">CANTITATE</h3>
			<h3 class="total">TOTAL</h3>
		</div>
    <div class="products">Cosul dumneavostra este gol.</div>
</div>
<div class="formular">
    <div class="form-box">
        <div class="button-box">
            <div id="btn"></div>
            <button type="button" class="toggle-btn" onclick="login()">Log in</button>
            <button type="button" class="toggle-btn" onclick="signup()">Sign up</button>
        </div>
          <div class="social-icons">
        <img src="resurse/Imagini/fb.png">
        <img src="resurse/Imagini/tw.png">
        <img src="resurse/Imagini/gp.png">
    </div>
        <form id="login" class="input-group">
            <input type="text" class="input-field" placeholder="User Id" required>
            <input type="text" class="input-field" placeholder="Password" required>
            <input type="checkbox" class="check-box" ><span>Keep me logged</span>
            <button type="submit" class="submit-btn">Log in</button>
        </form>
        <form id="register" class="input-group">
            <input type="text" class="input-field" placeholder="User Id" required>
            <input type="email" class="input-field" placeholder="E-mail" required>
            <input type="text" class="input-field" placeholder="Password" required>
            <input type="checkbox" class="check-box" ><span>I agree to the terms and conditions</span>
            <button type="submit" class="submit-btn">Sign up</button>
        </form>
    </div>  
</div>
</div></div>
	<footer>
		<h2>Contact</h2>
			<address id="contact">
				<p>Calea Floreasca nr. 60, București, România.</p>
				<p>E-mail:<a href="mailto:g.meronne@restaurant.ro">g.meronne@restaurant.ro</a></p>
				<p>Telefon:0336750011.</p>
				<a href="index.html#sectiune11" >Before you contact us,be sure wheter the answer is on the page or not!Jump to the first page!</a>
			</address>
		<div class="restaurant2"></div>
		</footer>
			
	</body>
</html>