<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Gallery</title>
		<link rel="stylesheet" type="text/css" href=" CSS/header.css">
		<link rel="stylesheet" type="text/css" href=" CSS/footer.css">
		<link rel="stylesheet" type="text/css" href=" CSS/galerry.css">
		<link rel="stylesheet" type="text/css" media="screen" href="sans-serif.css"> 
		<link rel="stylesheet" type="text/css" media="print" href="serif.css">
        <script src=" Javascript/order.js"></script>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Costrun Larisa">
		<meta name="description" content="Comenzi online cu livrare la domiciliu">
		<meta name="keywords" content="comenzi,online,livrare">
		<link rel="shortcut icon" type="image/x-icon" href=" Imagini/./favicon.ico"/>
		<link rel="stylesheet" type="text/css" href="theme.css">
	</head>
	<body>
		 <%-include("../fragmente/header.ejs")%>
<section id="container">
		<h2>A LITTLE PIECE OF OUR KITCHEN</h2>
					<figure class="item"><img alt="Poza cu paste" src=" Imagini/poza1.jpg"></figure>
					<figure class="item"><img alt="Poza cu mancare" src=" Imagini/galerie1.jpg"></figure>
					<figure class="item"><img alt="Poza cu mancare" src=" Imagini/galerie2.jpg"></figure>
					<figure class="item"><img alt="Poza cu mancare" src=" Imagini/galerie3.jpg"></figure>
					<figure class="item"><img alt="Poza cu mancare" src=" Imagini/galerie4.jpg"></figure>
					<figure class="item"><img alt="Poza cu mancare" src=" Imagini/galerie5.jpg"></figure>
					<figure class="item"><img alt="Poza cu mancare" src=" Imagini/galerie6.jpg"></figure>
					<figure class="item"><img alt="Poza cu mancare" src=" Imagini/galerie7.jpg"></figure>
					<figure class="item"><img alt="Poza cu mancare" src=" Imagini/galerie8.jpg"></figure>
		</section>
<footer>
		<h2>Contact</h2>
			<address id="contact">
				<p>Calea Floreasca nr. 60, București, România.</p>
				<p>E-mail:<a href="mailto:g.meronne@restaurant.ro">g.meronne@restaurant.ro</a></p>
				<p>Telefon:0336750011.</p>
				<a href="/#sectiune11">Before you contact us,be sure wheter the answer is on the page or not!Jump to the first page!</a>
			</address>
		</footer>
			<div class="restaurant2"></div>
	</body>
</html>