<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Restaurant Meronne</title>
		<link rel="stylesheet" type="text/css" href="CSS/primapagina.css">
        <link rel="stylesheet" type="text/css" href="CSS/footer.css">
        <link rel="stylesheet" type="text/css" href="CSS/header_index.css">
        <script src=" Javascript/order.js"></script>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script  src="index.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Costrun Larisa">
		<meta name="description" content="Restaurant Meronne">
		<meta name="keywords" content="restaurant,rating,profesionalism,bucatarie">
		<link rel="shortcut icon" type="image/x-icon" href="Imagini/favicon.ico"/>
	</head>
	<body>
        <%-include("../fragmente/header.ejs")%>
				<main>
				
					<div class="acasa">
									<video class="video" src=" Video/video.mp4" loop autoplay muted>Your browser does not support video tag</video>
					</div>
				
				<div class="continut">			
							    <br>
								<div class="subacasa">
									<h2 class="welcome">WELCOME!</h2>
									
										<section id="subsectiune1">
											<div class="subsectiune">
												<h3>CE ESTE MERONNE?</h3>
												<p> Un restaurant <i>special</i>menit sa fie pe gustul fiecaruia.</p>
												<p>Restaurantul Meronne ofera clientilor cele mai bune preparate italienesti, folosind cele mai proaspete ingrediente de sezon, gatite perfect de bucatarii nostri.</p>
												<p>Meniul va va cuceri si veti porni intr-o calatorie culinara cu mancaruri din intreaga Italie, in care se va oglindi reputatia tarii ca taram al aromelor intense, al preparatelor simple ce scot in evidenta calitatea ingredientelor, precum si al vinurilor desavarsite.</p>
												<p>Meronne ofera mai mult decat mancare excelenta. Decorul contemporan, atmosfera eleganta si priceperea personalului va vor introduce intr-o adevarata „la bella vita”.</p>
												<p>Descoperiti secretele renumitei „pura cucina italiana” alaturi de noi!</p>
										
											</div>
										</section><div class="chef"><img alt="Chef" src=" Imagini/italian-chef-22.jpg"/></div>
									<section id="subsectiune2">
										<div class="subsectiune">
											<br>
											
											<h3> PROGRAM</h3>
													<p> Deschis zilnic.</p>
													<p> De luni până vineri vă asteptăm începând cu ora 07:30 cu gustul puternic de cafea în stil vienez pentru o zi "delicioasă" și încheiem ziua cu un preparat specific italienesc disponibil până la ora 23:30.</p>
													<p> Sâmbăta și duminica restaurantul nostru este deschis în intervalul 10:00-05:00 și este gata să vă transpună în Mica Italie. </p>
													<p>În cazul în care nu ați găsit ceea ce căutați,pentru mai multe informații, vă rugăm <a class="button" rel="stylesheet" type="text/css" href="#contact">contactați-ne</a>.</p>
											
										</div>
									</section><div class="program"><img alt="Chelner" src=" Imagini/program.jpg"/></div>
									<section id="subsectiune3">
										<div class="subsectiune">
											<br>
											<h3> SPECIFIC ITALIENESC</h3>
											<p>Te așteptăm în restaurantul Meronne, spațiul unde starea de dolce far niente se îmbină cu gustul intens al preparatelor tradiționale din peninsula italiană, pentru a-ți crea o experiență autentică.</p>
										</div>
									</section><div class="paste2"><img alt="paste" src=" Imagini/paste2.jpg"></div>
									<section id="subsectiune4">
										<div class="subsectiune">
											<br>
											<h3>MOST WANTED THIS MONTH!</h3>
											<div class="wanted">
												<figure>
													<img alt="Poza cu desert" src=" Imagini/desert.jpg"/><figcaption>Clientii nostri au ajuns la concluzia ca ceea ce defineste o masa buna este chiar desertul.</figcaption>
												</figure>
											</div>
										</div>
									</section>
								</div>					
						<section id="sectiunea2">
							<br>
							<div class="prezentare">
								<h2> RECIPES</h2>
							</div>
							<div class="retetele">
								<div class="continut2">
									<p>Bucătăria italiană este una din cele mai cunoscute din lume şi a influenţat cultura culinară a multor ţări. La rândul ei, a fost influenţată de-a lungul istoriei de bucătăria arabă, grecească, bizantină şi etruscă. Reţete italiene vechi de mii de ani au cunoscut modificări importante odată cu descoperirea continentului american, când s-au adus în Europa cartoful, roşiile, porumbul şi ardeiul gras.</p>
									<a rel="stylesheet" type="text/css" href="recipes.html" class="button button1"><b>Descopera secretele noastre culinare disponibile in limba engleza(only) si incearca-le acasa!</b></a>
								</div>
									<figure>
										<div class="imagine">
											<img src= "Imagini/paste.jpg"
												alt=" Imagine cu paste"
												title="Preparat din paste"/>
										</div>
											<figcaption>
												Farfuria vedetă în restaurantul nostru.
											</figcaption>
									</figure>
							</div>
						</section>
					<div class="grid-container">
						<section id="sectiunea3">
							<div class="grid_content">
								<a href="/menu" class="texte"><h2>MENU </h2></a>
									<a rel="stylesheet" type="text/css" href="menu.html" class="button button2">Meniul care te va transpune in inima Italiei.</a>
							</div>
							<img alt="Meniu" class="meniu" src=" Imagini/menu.jpg"/>
						</section>
						<section id="sectiuneaspec">
							<div class="grid_content">
								<a href="/gallery" class="texte"><h2>GALLERY </h2></a>
									<a rel="stylesheet" type="text/css" href="gallery.html" class="button button3">Vezi mai multe din restaurantul nostru!</a>
							</div>
							<img alt="Masa" class="galerie" src=" Imagini/galerie.jpg"/>
						</section>
						<section id="sectiunea4">
							<div class="grid_content">
								<a href="/order" class="texte"><h2> ORDER ONLINE </h2></a>
									<a rel="stylesheet" type="text/css" href="order.html" class="button button4">Nu ai timp sa ajungi la noi?Nici o problema,comanda aici iar noi iti livram bunatatile alese direct la tine acasa!</a>
							</div>
							<img alt="Chelner" class="order" src="Imagini/order.jpg"/>
						</section>
						<section id="sectiunea5">
							<div class="grid_content">
								<a href="/book" class="texte"><h2> BOOK A TABLE </h2></a>
									<a rel="stylesheet" type="text/css" href="book.html" class="button button5">Rezerva-ti o masa la cel mai fin restaurant din orasul tau!</a>	
							</div>
							<img alt="Table" class="tabla" src="Imagini/table.jpg"/>
						</section>
					</div>
				</div>
				</main>	
    <%-include("../fragmente/footer.ejs")%>
        		<div class="restaurant2"></div>
	</body>
</html>


