<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Menu</title>
		<link rel="stylesheet" type="text/css" href=" CSS/header.css">
		<link rel="stylesheet" type="text/css" href=" CSS/footer.css">
	       <script src=" Javascript/order.js"></script>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Costrun Larisa">
		<meta name="description" content="Meniul restaurantului Meronne">
		<meta name="keywords" content="meniu,bauturi,preturi,mancare">
		<link rel="shortcut icon" type="image/x-icon" href=" Imagini/./favicon.ico"/>
	</head>
<body>
	 <%-include("../fragmente/header.ejs")%>
<section id="fredi">
		<h2>ANTIPASTI FREDI (GUSTĂRI RECI)</h2>
		<p>CAPRESE CON FOCACCIA<br>(roşii, mozzarella, ulei de măsline, servite pe focaccia)........26 Lei</p>
		<p>CARPACCIO DI MANZO ALL’A DAVVERO<br>
		(muşchi de viţel, somon afumat, măsline, salată verde)........20 Lei</p>
		<p>CARPACCIO DI MANZO CON RUCOLA E PARMIGIANO<br>
		(mușchi de vițel, rucola, parmezam, ulei de măsline).......23 Lei</p>
		<p>PROSCIUTTO CRUDO CON PARMEGIANO<br>
		(prosciutto di Parma cu parmegian și salată verde).......23Lei</p>
	</section>
	<section id="antipasti">
		<h2>ANTIPASTI CALDI (GUSTĂRI CALDE)</h2>
		<p>CRESCENTINE<br>(pâine prăjită cu usturoi, oregano și mozzarella)......6Lei</p>
		<p>CROSTINI DI PARMA<br>
		(pâine prăjită, mozzarella, prosciutto de Parma).......9lei</p>

		<p>MISTO DI ANTIPASTI<br>
		(bruschetta, crescentina, crostini al salmone, crostini di Parma, bruschetta con alici).......12 Lei</p>
		<p>CRESPELLI BOLOGNESE<br>
		(clătite la cuptor umplute cu carne de vițel, cașcaval, smântână)............12 Lei</p>
		<p>CRESPELLI ROMANE<br>
		(clătite la cuptor umplute cu ficaței, ciuperci, cașcaval, smântână).......14 Lei</p>
		<p>CRESPELLI SICILIENE<br>
		(clătite la cuptor umplute cu șuncă, ciuperci, cașcaval, smântână).......14 Lei</p>
		<p>FUNGHI RIPIENI<br>
		(ciuperci la cuptor, umplute cu cașcaval).....18 Lei</p>
		<p>FORMAGGIO FRITTO<br>(cașcaval pane)........17Lei</p>
	</section>
	<section id="peste">
		<h2>ANTIPASTI PESCE (GUSTĂRI DIN PEȘTE)</h2>
		<p>CROSTINI AL SALMONE<br>
		(pâine prăjită, mozzarella, somon afumat).........11Lei</p>
		<p>BISTECCHE DI SALMONE<br>
		(biftec de somon, servit cu unt și pâine prajită)........25Lei</p>
		<p>SALMONE CON VEGETALO<br>
		(somon afumat, salată de crudități și foccacia cu parmegian)..........22Lei</p>
		<p>BRUSCHETTA AL POMODORO CON ALICI<br>
		(pâine prajită, oregano, ulei de măsline, usturoi, roșii, file de anchois).......11Lei</p>
	</section>
	<section id="persoane">
		<h2>ANTIPASTI PER DUE (PLATOURI - GUSTĂRI PENTRU 2 PERSOANE)</h2>
		<p>ANTIPASTO DAVVERO<br>
		(prosciutto de Parma, somon afumat, salată de crudități, mozzarella, gorgonzola, salam Milano, parmegian, roșii cherry, salată valeriană, mixt de măsline, foccacia DAVVERO)...........22Lei</p>
		<p>ANTIPASTO MIX DI FORMAGIO<br>
		(bocconcino, gorgonzola, parmegian, cașcaval, măr)........56Lei</p>
		<p>ANTIPASTO ROMENO<br>
		(rulouri de șuncă cu salată de crudități, șunculiță afumată, mușchi file, bacon, telemea, salam de Sibiu, coșulețe din aluat umplute cu zacuscă și salată de vinete, frigărui de cașcaval cu măsline, ceapă roșie, castravete, roșii).....52Lei</p>
		<p>MEDITERRANEA PER DUE<br>
		(midii în sos de vin, calamari pane, gamberi și tentacule de caracatiță la grătar alături de sosul Pesaro)......86Lei</p>
	</section>
	<section id="supe">
		<h2>ZUPPE(SUPE)</h2>
		<p>ZUPPA DI PESCE, ALL’A DAVVERO<br>
		(supă de fructe de mare proaspete și midii, servită cu pâine prăjită și verdețuri italiene).......26Lei</p>
		<p>ZUPPA CREMA DI BROCOLI<br>
		(supă de brocoli cu crutoane și parmegian)..........18Lei</p>
		<p>ZUPPA CREMA CON FUNGHI<br>
		(supă cremă de ciuperci cu crutoane).......9Lei</p>
	</section>
	<section id="ciorbe">
		<h2>MINESTRA (CIORBE)</h2>
			<p>MINESTRONE CON PANNA<br>
	(ciorbă de pui cu smântână)..........10Lei</p>
			<p>MINESTRONE DI TRIPPA<br>
	(ciorbă de burtă)........13LEi</p>
			<p>MINESTRONE DI MANZO<br>
	(ciorbă de văcuță).........11Lei</p>
	
	</section>
	<section id="salate">
		<h2>INSALATE (SALATE)</h2>
		<p>COSCIA DI POLLO AL CALDERONE<br>
		(pulpă de pui întreagă la ceaun servită cu sos de usturoi și cartofi cu rozmarin sau mămăliguță)........21 Lei</p>
		<p>MILANEZE ALL’A DAVVERO<br>
		(șnițel de pui pane servit cu salată verde, roșii cherry, cubulețe de brânză și cartofi la cuptor cu rozmarin).....21 Lei</p>
		<p>TACCHINO ALL’A GRIGLIA<br>
		(piept de curcan la grătar)...........29 Lei</p>
		<p>TACCHINO ALL’A MILANESE<br>
		(şniţel din piept de curcan cu parmegian, rucola și roșii cherry și cartofi la cuptor cu rozmarin).......28 Lei</p>
		<p>INVOLTINI DI POLLO<br>
		(rulou din piept de pui, ficăței, cașcaval, ciuperci, ceapă, sos de smântână, și cartofi la cuptor cu rozmarin).....35 Lei</p>
		<p>LeiTASSO DI SICILIA<br>
		(pulpă de rață fragedă rumenită în unt și smântână flambată cu șampanie, și cartofi la cuptor cu rozmarin).....17 Lei</p>
		<p>FEGATINI CON VINO<br>
		(ficăței de pui la tigaie în sos de vin și unt).......19</p>
	</section>
	<section id="porc">
		<h2>SPECIALITA DI MAIALE (SPECIALITĂŢI DIN CARNE DE PORC)</h2>
		<p>SCALOPPINE DI PARMA AL FORNO<br>
		(mușchiuleț de porc, cașcaval, prosciutto di Parma, ciuperci, sos alb la cuptor și cartofi cu rozmarin)......19 Lei</p>
		<p>SPALLA DI MAIALE ALL’A GRIGLIA<br>
		(ceafă de porc la grătar).......20 Lei</p>
		<p>MISTO DI CARNE CON PEPERONCINO<br>
		(bucăți din carne de porc și pui trase la tigaie cu legume și ardei iute).......25 Lei</p>
		<p>SPEZZATINO TOSCANO AL FORNO<br>
		(ceafă de porc, legume proaspete, sos de roșii, cașcaval, toate la cuptor cu capac de focaccia)......29 Lei</p>
		<p>AROSTO “ALL’A CORLEONE”<br>
		(ceafă de porc, în crustă de parmezan cu mozzarella, servită cu cartofi la cuptor cu rozmarin)......31 Lei</p>
		<p>SALSICIA ALL’A GRIGLIA<br>
		(cârnăciori de porc la grătar serviți cu salată de varză și cartofi la cuptor cu rozmarin)......27 Lei</p>
		<p>BRACIOLE CON SENAPE<br>
		(cotlet de porc tras la tigaie în cremă de smântână și muștar servit cu cartofi la cuptor cu rozmarin).....30 Lei</p>
	</section>
	<section id="pizza">
		<h2>PIZZA</h2>
		<p>PIZZA “DAVVERO”<br>
(sos pomodoro, oregano, mozzarella, șuncă, bacon, cârnăciori, salam picant, ou)......18 Lei</p>
<p>PIZZA MARGHERITA<br>
(sos pomodoro, oregano, mozzarella).....22 Lei</p>
<p>PIZZA DEL BAMBINO<br>
(sos de smântână, mozzarella, șuncă)......22 Lei</p>
<p>PIZZA PEPPERONI<br>
(sos pomodoro, oregano, mozzarella, salam picant, ardei iute).....24 Lei</p>
<p>PIZZA QUATTRO STAGIONI<br>
(sos pomodoro, oregano, mozzarella, ciuperci, șuncă, porumb*, salam).....21 Lei</p>

<p>PIZZA RIMMINI<br>
(sos pomodoro, oregano, mozzarella, șuncă, ananas)......23 Lei</p>
<p>PIZZA POLLO<br>
(sos pomodoro, oregano, mozzarella, piept de pui, ardei gras, porumb*).....25 Lei</p>
<p>PIZZA DARISIO<br>
(sos pomodoro, oregano, mozzarella, șuncă, salam, ciuperci, ceapă, măsline).....24 Lei</p>
<p>PIZZA CARBONARA<br>
(smântână, mozzarella, parmegian, ou, bacon)......23 Lei</p>
<p>PIZZA FRESH<br>
(sos pomodoro, oregano, mozzarella, rucola, boconcini,roșii cherry)......27 Lei</p>
<p>PIZZA RUCOLA PANNA<br>
(sos de smântână, bacon, roșii confiate, usturoi, mozzarella, sotileta, busuioc uscat, rucola)......27 Lei</p>
<p>Pizza-Italiana........26 Lei</p>
<p>FOCACCIA CLASICĂ<br>
(cu verdețuri italiene)......8 Lei</p>
	</section>
	<section id="paste">
		<h2>PASTE</h2>
		<p>LASAGNA<br>
		(pasta cu carne de vițel, ciuperci, parmegian, mozzarella la cuptor)........37 Lei</p>
		<p>PACCHERI AL TARTUFO<br>
		(paste, ciuperci, sos de trufe, ou, bacon, parmegian).........19 Lei</p>
		<p>SPAGHETTI CARBONARA<br>
		spaghete, bacon, smântână, ou, parmegian).........15 Lei</p>
		<p>SPAGHETTI BOLOGNESE<br>
		(spaghete, carne de viţel, sos de roșii cu legume, parmegian).....12 Lei</p>
		<p>SPAGHETTI AGLIO, OLIO E PEPERONCINO<br>
		(spaghete, pătrunjel, ulei de măsline, usturoi, parmegian, peperoncino)........26 Lei</p>
		<p>PENNE SICILIANE AL FORNO<br>
		(penne, bacon, ciuperci, mozzarella, piept de pui, parmegian la cuptor)......39 Lei</p>
		<p>FUSILLI BUCATI “ALLA ITALIANO VERO”<br>
		(paste lungi spiralate, piept de pui, creveți tiger decorticați, midii, parmegian)......22 Lei</p>
		<p>FUSILLI BUCATI ALL’A MATRICIANA<br>
		(paste lungi spiralate, prosciutto di Parma, ciuperci, usturoi, parmegian, sos de roșii).........48 Lei</p>
		<p>FUSILLI BUCATI CON GAMBERII<br>
		(paste lungi spiralate, creveți tiger decorticaţi, roșii confiate, peperoncino, parmegian)..........24 Lei</p>
		<p>RAVIOLI NAPOLETANE<br>
		(ravioli de casă, smântână, spanac, busuioc, ou, parmezan).........44 Lei</p>

	</section>
	<section id="desert">
		<h2>DESERTO (DESERTURI)</h2>
		<p>FRITELLA CON NUTELA<br>
		(clătite cu cremă nutella și toping de ciocolată)........12 Lei</p>
		<p>TIRAMISU...........14 Lei</p>
		<p>TIRAMISU CON GELATO<br>
		(tiramisu de cafea cu înghețată de vanilie).........15 Lei</p>
		<p>TORTA AL CIOCCOLATO<br>
		(tort de ciocolată)........15 Lei</p>
		<p>TORTA DI MELONE<br>
		(tort cu mousse de pepene galben).........15 Lei</p>
		<p>GELATO<br>
		(înghețată de ciocolată, pepene roșu, vanilie, tiramisu, pepene galben, fructe de pădure, fistic)...........17 Lei</p>
	</section>
	<section id="bauturi">
		<h2>BĂUTURI</h2>
			<h3>COCKTAIL</h3>
<p>Aperol Spritz<br>
(Aperol, Proseco, fresh portocale)........19 Lei</p>
<p>Scorpio<br>
(Martini roșu, Pepsi).......20 Lei</p>
<p>Pantera Rosa<br>
(Suc de portocale, Vodka Finlandia, Grenadine)........21 Lei</p>
<p>CAMPARI ORANGE.......15 Lei</p>
<p>MOJITO.........18 Lei</p>
<p>GIN TONIC BEEFEATER.......16 Lei</p>
<p>WHISKY COLA......20 Lei</p>
			<h3>CAFEA</h3>
			<p>CAPPUCCINO EXPRESSO<br>
(cu aromă de vanilie sau ciocolată)......8 Lei</p>
<p>LATTE MACHIATO<br>
(espresso, lapte, spumă lapte).....9 Lei</p>
<p>CHOCO DIVINO<br>
(cremă de ciocolată caldă albă sau neagră).......9 Lei</p>
<p>AFFOGATO AL CAFFE<br>
(îngheţată de ciocolată şi expresso lung)......12 Lei</p>
<p>FRAPPE ICE CREAM<br>
(ness, înghețată, topping ciocolată, lapte, frişcă)........9 Lei</p>
<p>IRISH COFFE<br>
(expresso, whiskey JB, zahăr brun, frișcă)......6 Lei</p>
<p>CEAI TALES<br>
(ceai cald sau rece, preparat prin infuzare din cele mai rafinate sortimente: Cranberry, Lemon, Pina Colada, China Jasmine, Scorţişoară, Negru).....10 Lei</p>
 	</section>

<footer>
		<h2>Contact</h2>
			<address id="contact">
				<p>Calea Floreasca nr. 60, București, România.</p>
				<p>E-mail:<a href="mailto:g.meronne@restaurant.ro">g.meronne@restaurant.ro</a></p>
				<p>Telefon:0336750011.</p>
				<a href="/#sectiune11">Before you contact us,be sure wheter the answer is on the page or not!Jump to the first page!</a>
			</address>
		</footer>
		<div class="restaurant2"></div>
	</body>
</html>
