<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Order online</title>
		<link rel="stylesheet" type="text/css" href=" CSS/header.css">
		<link rel="stylesheet" type="text/css" href=" CSS/order.css">
		<link rel="stylesheet" type="text/css" href=" CSS/footer.css">
		<script src=" Javascript/order.js"></script>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Costrun Larisa">
		<meta name="description" content="Comenzi online cu livrare la domiciliu">
		<meta name="keywords" content="comenzi,online,livrare">
		<link rel="shortcut icon" type="image/x-icon" href=" Imagini/./favicon.ico"/>
		<style>
		html{
		scroll-behavior:smooth;
	
		}
	
		</style>
	</head>
	<body>
	 <%-include("../fragmente/header.ejs")%>
	<section id="continut">
	<h2>AVAILABLE FOR ONLINE ORDERS!</h2>
	<div class="grid-container-intro">
						<section id="sectiuneaIntro3">
							<div class="grid_contentIntro">
								<a href="#meniu_pasta" class="texte"><h2>PASTA </h2></a>
							</div>
						<img alt="Meniu" class="meniu1" src=" Imagini/order4.jpeg"/>
						</section>
						<section id="sectiuneaIntrospec">
							<div class="grid_contentIntro">
								<a href="#meniu_pizza" class="texte"><h2>PIZZA</h2></a>
							</div>
							<img alt="Masa" class="galerie1" src=" Imagini/order23.jpg"/>
						</section>
						<section id="sectiuneaIntro4">
							<div class="grid_contentIntro">
								<a href="#meniu_salads" class="texte"><h2>SALADS</h2></a>
							</div>
							<img alt="Chelner" class="order1" src=" Imagini/order3.png"/>
						</section>
						<section id="sectiuneaIntro5">
							<div class="grid_contentIntro">
								<a href="#meniu_spec" class="texte"><h2>SPECIALITIES</h2></a>
							</div>
							<img alt="Table" class="tabla1" src=" Imagini/order104.jpg"/>
						</section>
						<section id="sectiuneaIntro3">
							<div class="grid_contentIntro">
								<a href="#meniu_dessert" class="texte"><h2>DESSERTS</h2></a>
							</div>
							<img alt="Meniu" class="meniu1" src=" Imagini/order49.jpg"/>
						</section>
						<section id="sectiuneaIntro3">
							<div class="grid_contentIntro">
								<a href="#meniu_soups" class="texte"><h2>SOUPS</h2></a>
							</div>
							<img alt="Meniu" class="meniu1" src=" Imagini/order113.jpg"/>
						</section>
	</div>
	<section id="meniu_pasta">
	<h3>MENIU PASTA</h3>
				<div class="grid-container">
						<section id="sectiunea3">
							<div class="grid_content">
								<h4>PASTA BOLOGNESE</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano.</p><b>Gramaj ~250gr. 30 lei</b>
								<a class="add-cart cart1" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="30"/>
							</div>
							<img alt="Meniu" class="meniu" src=" Imagini/pastabolognese.jpg"/>
						</section>
						<section id="sectiuneaspec">
							<div class="grid_content">
							<h4>PASTA CARBONARA</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano</p><b>Gramaj ~200gr. 29 lei</b>
								<a class="add-cart cart2" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="29"/>
							</div>
						<img alt="Masa" class="galerie" src=" Imagini/pastacarbonara.jpg"/>
						</section>
						<section id="sectiunea4">
							<div class="grid_content">
							<h4> RIGATTONI</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano</p><b>Gramaj ~250gr. 26 lei</b>
								<a class="add-cart cart3" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="26"/>
							</div>
							<img alt="Chelner" class="order" src=" Imagini/rigattoni.jpg"/>
						</section>
						<section id="sectiunea5">
							<div class="grid_content">
							<h4> CHICKEN PASTA </h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano</p><b>Gramaj ~300gr. 25 lei</b>
								<a class="add-cart cart4" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="30"/>	
							</div>
							<img alt="Table" class="tabla" src=" Imagini/chickenpasta.jpg"/>
						</section>
						<section id="sectiunea3">
							<div class="grid_content">
							<h4>PENNE GORGONZOLA </h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano</p><b>Gramaj ~280gr. 35 lei</b>
								<a class="add-cart cart5" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="35"/>
							</div>
							<img alt="Meniu" class="meniu" src=" Imagini/pennegorgonzola.jpg"/>
						</section>
						<section id="sectiuneaspec">
							<div class="grid_content">
							<h4>SPAGHETTI AMATRICIANA</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano</p><b>Gramaj ~250gr. 40 lei</b>
								<a class="add-cart cart6" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="40"/>
							</div>
							<img alt="Masa" class="galerie" src=" Imagini/spaghettiamatriciana.jpg"/>
						</section>
						<section id="sectiunea4">
							<div class="grid_content">
							<h4>PESTO PASTA</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano</p><b>Gramaj ~300gr. 38 lei</b>
								<a class="add-cart cart7" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="38"/>
							</div>
							<img alt="Chelner" class="order" src=" Imagini/pestopasta.jpg"/>
						</section>
						<section id="sectiunea5">
							<div class="grid_content">
							<h4>SPAGHETTI AGLIO</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano</p><b>Gramaj ~300gr. 45 lei</b>
								<a class="add-cart cart8" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="45"/>
							</div>
							<img alt="Table" class="tabla" src=" Imagini/spaghettiaglio.jpg"/>
						</section>
						<section id="sectiunea3">
							<div class="grid_content">
								<h4>SPAGHETTI</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano.</p><b>Gramaj ~250gr. 21 lei</b>
								<a class="add-cart cart1" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="21"/>
							</div>
							<img alt="Meniu" class="meniu" src=" Imagini/spaghetti.jpg"/>
						</section>
					</div>
		</section>
		<section id="meniu_pizza">
		<h3>MENIU PIZZA</h3>
		<div class="grid-container">
						<section id="sectiunea3">
							<div class="grid_content">
								<h4>QUATRO STAGIONI</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano.</p><b>Gramaj ~350gr. 30 lei</b>
								<a class="add-cart cart1" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="30"/>
							</div>
							<img alt="Meniu" class="meniu" src=" Imagini/quattrostagioni.jpg"/>
						</section>
						<section id="sectiuneaspec">
							<div class="grid_content">
							<h4>QUATTRO FROMAGGI</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano</p><b>Gramaj ~300gr. 40 lei</b>
								<a class="add-cart cart2" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="40"/>
							</div>
						<img alt="Masa" class="galerie" src=" Imagini/quattroformaggi.jpg"/>
						</section>
						<section id="sectiunea4">
							<div class="grid_content">
							<h4> ROMANA </h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano</p><b>Gramaj ~350gr. 32 lei</b>
								<a class="add-cart cart3" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="32"/>
							</div>
							<img alt="Chelner" class="order" src=" Imagini/romana.jpg"/>
						</section>
						<section id="sectiunea5">
							<div class="grid_content">
							<h4> AMERICANA </h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano</p><b>Gramaj ~500gr. 45 lei</b>
								<a class="add-cart cart4" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="45"/>	
							</div>
							<img alt="Table" class="tabla" src=" Imagini/americana.jpg"/>
						</section>
						<section id="sectiunea3">
							<div class="grid_content">
							<h4>GORGONZOLA </h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano</p><b>Gramaj ~600gr. 65 lei</b>
								<a class="add-cart cart5" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="65"/>
							</div>
							<img alt="Meniu" class="meniu" src=" Imagini/gorgonzola.jpg"/>
						</section>
						<section id="sectiuneaspec">
							<div class="grid_content">
							<h4>CALZONE</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano</p><b>Gramaj ~300gr. 24 lei</b>
								<a class="add-cart cart6" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="24"/>
							</div>
							<img alt="Masa" class="galerie" src=" Imagini/calzone.jpg"/>
						</section>
						<section id="sectiunea4">
							<div class="grid_content">
							<h4>MEDITERRANEA</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano</p><b>Gramaj ~400gr. 38 lei</b>
								<a class="add-cart cart7" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="38"/>
							</div>
							<img alt="Chelner" class="order" src=" Imagini/mediterranea.jpg"/>
						</section>
						<section id="sectiunea5">
							<div class="grid_content">
							<h4>PARMIGIANA</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano</p><b>Gramaj ~460gr. 47 lei</b>
								<a class="add-cart cart8" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="47"/>
							</div>
							<img alt="Table" class="tabla" src=" Imagini/parmigiana.jpg"/>
						</section>
						<section id="sectiunea3">
							<div class="grid_content">
								<h4>CAMPAGNOLA</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano.</p><b>Gramaj ~500gr. 50 lei</b>
								<a class="add-cart cart1" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="50"/>
							</div>
							<img alt="Meniu" class="meniu" src=" Imagini/campagnola.jpg"/>
						</section>
					</div>
		</section>
		<section id="meniu_salads">
		<h3>MENIU SALATE</h3>
		<div class="grid-container">
						<section id="sectiunea3">
							<div class="grid_content">
								<h4>SUMMER FARRO</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano.</p><b>Gramaj ~250gr. 31 lei</b>
								<a class="add-cart cart1" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="30"/>
							</div>
							<img alt="Meniu" class="meniu" src=" Imagini/summerfarro .jpg"/>
						</section>
						<section id="sectiuneaspec">
							<div class="grid_content">
							<h4>CURTIDO</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano</p><b>Gramaj ~250gr. 29 lei</b>
								<a class="add-cart cart2" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="29"/>
							</div>
						<img alt="Masa" class="galerie" src=" Imagini/curtido.jpg"/>
						</section>
						<section id="sectiunea4">
							<div class="grid_content">
							<h4> MIMOSA </h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano</p><b>Gramaj ~300gr. 30 lei</b>
								<a class="add-cart cart3" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="30"/>
							</div>
							<img alt="Chelner" class="order" src=" Imagini/mimosa.jpg"/>
						</section>
						<section id="sectiunea5">
							<div class="grid_content">
							<h4> GREEK SALAD </h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano</p><b>Gramaj ~320gr. 34 lei</b>
								<a class="add-cart cart4" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="34"/>	
							</div>
							<img alt="Table" class="tabla" src=" Imagini/greeksalad.jpg"/>
						</section>
						<section id="sectiunea3">
							<div class="grid_content">
							<h4>TUNA SALAD</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano</p><b>Gramaj ~290gr. 33 lei</b>
								<a class="add-cart cart5" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="33"/>
							</div>
							<img alt="Meniu" class="meniu" src=" Imagini/tunasalad.jpg"/>
						</section>
						<section id="sectiuneaspec">
							<div class="grid_content">
							<h4>BROAD BEAN</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano</p><b>Gramaj ~200gr. 24 lei</b>
								<a class="add-cart cart6" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="24"/>
							</div>
							<img alt="Masa" class="galerie" src=" Imagini/broadbean.jpg"/>
						</section>
						<section id="sectiunea4">
							<div class="grid_content">
							<h4>BRESAOLA</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano</p><b>Gramaj ~300gr. 38 lei</b>
								<a class="add-cart cart7" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="38"/>
							</div>
							<img alt="Chelner" class="order" src=" Imagini/bresaola.jpg"/>
						</section>
						<section id="sectiunea5">
							<div class="grid_content">
							<h4>QUINOA SALAD</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano</p><b>Gramaj ~190gr. 23 lei</b>
								<a class="add-cart cart8" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="23"/>
							</div>
							<img alt="Table" class="tabla" src=" Imagini/quinoasalad.jpg"/>
						</section>
						<section id="sectiunea3">
							<div class="grid_content">
								<h4>SWEET POTATO SALAD</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano.</p><b>Gramaj ~370gr. 39 lei</b>
								<a class="add-cart cart1" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="39"/>
							</div>
							<img alt="Meniu" class="meniu" src=" Imagini/sweetpotatosalad.jpg"/>
						</section>
					</div>
		</section>
		<section id="meniu_spec">
		<h3>SPECIALITATI</h3>
		<div class="grid-container">
						<section id="sectiunea3">
							<div class="grid_content">
								<h4>LASAGNA</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano.</p><b>Gramaj ~350gr. 40 lei</b>
								<a class="add-cart cart1" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="40"/>
							</div>
							<img alt="Meniu" class="meniu" src=" Imagini/lasagna.jpg"/>
						</section>
						<section id="sectiuneaspec">
							<div class="grid_content">
							<h4>PAELLA</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano</p><b>Gramaj ~400gr. 59 lei</b>
								<a class="add-cart cart2" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="59"/>
							</div>
						<img alt="Masa" class="galerie" src=" Imagini/paella.jpg"/>
						</section>
						<section id="sectiunea4">
							<div class="grid_content">
							<h4> PORK STEAK</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano</p><b>Gramaj ~320gr. 70 lei</b>
								<a class="add-cart cart3" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="70"/>
							</div>
							<img alt="Chelner" class="order" src=" Imagini/porksteak.jpg"/>
						</section>
						<section id="sectiunea5">
							<div class="grid_content">
							<h4> VENETO</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano</p><b>Gramaj ~260gr. 49 lei</b>
								<a class="add-cart cart4" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="49"/>	
							</div>
							<img alt="Table" class="tabla" src=" Imagini/veneto.jpg"/>
						</section>
						<section id="sectiunea3">
							<div class="grid_content">
							<h4>BRACIOLE</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano</p><b>Gramaj ~300gr. 40 lei</b>
								<a class="add-cart cart5" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="40"/>
							</div>
							<img alt="Meniu" class="meniu" src=" Imagini/braciole.jpg"/>
						</section>
						<section id="sectiuneaspec">
							<div class="grid_content">
							<h4>GOULASH</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano</p><b>Gramaj ~500gr. 81 lei</b>
								<a class="add-cart cart6" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="81"/>
							</div>
							<img alt="Masa" class="galerie" src=" Imagini/goulash.jpg"/>
						</section>
						<section id="sectiunea4">
							<div class="grid_content">
							<h4>CIAMBOTTA</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano</p><b>Gramaj ~450gr. 92 lei</b>
								<a class="add-cart cart7" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="92"/>
							</div>
							<img alt="Chelner" class="order" src=" Imagini/ciambotta.jpg"/>
						</section>
						<section id="sectiunea5">
							<div class="grid_content">
							<h4>VITELLO</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano</p><b>Gramaj ~300gr. 45 lei</b>
								<a class="add-cart cart8" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="45"/>
							</div>
							<img alt="Table" class="tabla" src=" Imagini/vitello.jpg"/>
						</section>
						<section id="sectiunea3">
							<div class="grid_content">
								<h4>TORTELLINI</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano.</p><b>Gramaj ~300gr. 52 lei</b>
								<a class="add-cart cart1" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="52"/>
							</div>
							<img alt="Meniu" class="meniu" src=" Imagini/tortellini.jpg"/>
						</section>
					</div>
		</section>
		<section id="meniu_dessert">
		<h3>MENIU DESERT</h3>
		<div class="grid-container">
						<section id="sectiunea3">
							<div class="grid_content">
								<h4>CHEESECAKE</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano.</p><b>Gramaj ~250gr. 33 lei</b>
								<a class="add-cart cart1" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="33"/>
							</div>
							<img alt="Meniu" class="meniu" src=" Imagini/cheesecake.jpg"/>
						</section>
						<section id="sectiuneaspec">
							<div class="grid_content">
							<h4>WAFFLES</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano</p><b>Gramaj ~210gr. 25 lei</b>
								<a class="add-cart cart2" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="25"/>
							</div>
						<img alt="Masa" class="galerie" src=" Imagini/waffles.jpg"/>
						</section>
						<section id="sectiunea4">
							<div class="grid_content">
							<h4> CAKE IN A POT </h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano</p><b>Gramaj ~170gr. 27 lei</b>
								<a class="add-cart cart3" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="27"/>
							</div>
							<img alt="Chelner" class="order" src=" Imagini/cakeinapot.jpg"/>
						</section>
						<section id="sectiunea5">
							<div class="grid_content">
							<h4> CHOCOLATE CANOLLI </h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano</p><b>Gramaj ~230gr. 35 lei</b>
								<a class="add-cart cart4" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="35"/>	
							</div>
							<img alt="Table" class="tabla" src=" Imagini/chocolatecanolli.jpg"/>
						</section>
						<section id="sectiunea3">
							<div class="grid_content">
							<h4>TRADITIONAL CAKE</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano</p><b>Gramaj ~300gr. 40 lei</b>
								<a class="add-cart cart5" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="40"/>
							</div>
							<img alt="Meniu" class="meniu" src=" Imagini/traditionalcake.jpg"/>
						</section>
						<section id="sectiuneaspec">
							<div class="grid_content">
							<h4>TIRAMISU</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano</p><b>Gramaj ~370gr. 47 lei</b>
								<a class="add-cart cart6" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="47"/>
							</div>
							<img alt="Masa" class="galerie" src=" Imagini/tiramisu.jpg"/>
						</section>
						<section id="sectiunea4">
							<div class="grid_content">
							<h4>CANNOLI</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano</p><b>Gramaj ~220gr. 36 lei</b>
								<a class="add-cart cart7" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="36"/>
							</div>
							<img alt="Chelner" class="order" src=" Imagini/cannoli.jpg"/>
						</section>
						<section id="sectiunea5">
							<div class="grid_content">
							<h4>BINDI HAZELNUT</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano</p><b>Gramaj ~180gr. 20 lei</b>
								<a class="add-cart cart8" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="20"/>
							</div>
							<img alt="Table" class="tabla" src=" Imagini/bindihazelnut.jpg"/>
						</section>
						<section id="sectiunea3">
							<div class="grid_content">
								<h4>HAZELNUT CAKE</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano.</p><b>Gramaj ~290gr. 40 lei</b>
								<a class="add-cart cart1" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="40"/>
							</div>
							<img alt="Meniu" class="meniu" src=" Imagini/hazelnutcake.jpg"/>
						</section>
					</div>
		</section>
		<section id="meniu_soups">
		<h3>MENIU SUPE</h3>
		<div class="grid-container">
						<section id="sectiunea3">
							<div class="grid_content">
								<h4>MINESTRONE</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano.</p><b>Gramaj ~250gr. 30 lei</b>
								<a class="add-cart cart1" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="30"/>
							</div>
							<img alt="Meniu" class="meniu" src=" Imagini/minestrone.jpg"/>
						</section>
						<section id="sectiuneaspec">
							<div class="grid_content">
							<h4>RIBOLLITA</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano</p><b>Gramaj ~200gr. 29 lei</b>
								<a class="add-cart cart2" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="29"/>
							</div>
						<img alt="Masa" class="galerie" src=" Imagini/ribollita.jpg"/>
						</section>
						<section id="sectiunea4">
							<div class="grid_content">
							<h4> PANADA </h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano</p><b>Gramaj ~450gr. 30 lei</b>
								<a class="add-cart cart3" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="30"/>
							</div>
							<img alt="Chelner" class="order" src=" Imagini/panada.jpg"/>
						</section>
						<section id="sectiunea5">
							<div class="grid_content">
							<h4> GINESTRATA </h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano</p><b>Gramaj ~340gr. 28 lei</b>
								<a class="add-cart cart4" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="28"/>	
							</div>
							<img alt="Table" class="tabla" src=" Imagini/ginestrata.jpg"/>
						</section>
						<section id="sectiunea3">
							<div class="grid_content">
							<h4>BURIDDA</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano</p><b>Gramaj ~400gr. 40 lei</b>
								<a class="add-cart cart5" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="40"/>
							</div>
							<img alt="Meniu" class="meniu" src=" Imagini/buridda.jpg"/>
						</section>
						<section id="sectiuneaspec">
							<div class="grid_content">
							<h4>MACCU</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano</p><b>Gramaj ~390gr. 35 lei</b>
								<a class="add-cart cart6" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="35"/>
							</div>
							<img alt="Masa" class="galerie" src=" Imagini/maccu.jpg"/>
						</section>
						<section id="sectiunea4">
							<div class="grid_content">
							<h4>GARMUGIA</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano</p><b>Gramaj ~450gr. 37 lei</b>
								<a class="add-cart cart7" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="37"/>
							</div>
							<img alt="Chelner" class="order" src=" Imagini/garmugia.jpg"/>
						</section>
						<section id="sectiunea5">
							<div class="grid_content">
							<h4>ZUPPA TOSCANA</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano</p><b>Gramaj ~300gr. 40 lei</b>
								<a class="add-cart cart8" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="40"/>
							</div>
							<img alt="Table" class="tabla" src=" Imagini/zuppatoscana.jpg"/>
						</section>
						<section id="sectiunea3">
							<div class="grid_content">
								<h4>WALNUT SOUP</h4>
								<p>Contine:carne de vita,paste,sos de rosii,parmezan,condimente,ceapa,oregano.</p><b>Gramaj ~330gr. 37 lei</b>
								<a class="add-cart cart1" href="#"><img src=" Imagini/shopping-cart-24.ico"/></a>
								<input type="hidden" value="37"/>
							</div>
							<img alt="Meniu" class="meniu" src=" Imagini/walnutsoup.jpg"/>
						</section>
					</div>
		</section>
	</section>
		<footer>
		<h5>Contact</h5>
			<address id="contact">
				<p>Calea Floreasca nr. 60, București, România.</p>
				<p>E-mail:<a href="mailto:g.meronne@restaurant.ro">g.meronne@restaurant.ro</a></p>
				<p>Telefon:0336750011.</p>
				<a href="/#sectiune11" >Before you contact us,be sure wheter the answer is on the page or not!Jump to the first page!</a>
			</address>
		</footer>
			<div class="restaurant2"></div>
	</body>
</html>