<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Recipes</title>
		<link rel="stylesheet" type="text/css" href=" CSS/header.css">
		<link rel="stylesheet" type="text/css" href=" CSS/recipes.css">
		<link rel="stylesheet" type="text/css" href=" CSS/footer.css">
        <script src=" Javascript/order.js"></script>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Costrun Larisa">
		<meta name="description" content="Retetele secrete ale restaurantului">
		<meta name="keywords" content="retete,Italy,specific,italienesc,tiramisu">
		<link rel="shortcut icon" type="image/x-icon" href=" Imagini/./favicon.ico"/>
		<link rel="stylesheet" type="text/css" href="theme.css">
	</head>
<body>
		 <%-include("../fragmente/header.ejs")%>
<div class="pagina">
<section id="intro">
				<h2>ARE YOU TIRED OF THE SAME, OLD RECIPES?</h2>
				<p>Say no more, our restaurant has prepared for you the best dishes in town that can be made at home!</p>
			</section>
			<div class="container">
				<section id="reteta1">
				
					<h3>Rigatoni imbottiti – mortadella and cheese-stuffed rigatoni</h3><div class="subcontinut"><img alt="Paste" src=" Imagini/meniu.jpg"></div>
					<p>1.To begin, make the tomato sauce. Sauté the onion and garlic in a splash of oil until soft. Add the thyme and red wine.</p>
					<p>2.Reduce the wine by three quarters. Add the tomatoes and simmer for 25 minutes, until the sauce has thickened.</p>
					<p>3.Stir in the rocket and basil leaves and turn off the heat. Set aside.</p>
					<p>4.Cook the rigatoni in salted boiling water until al dente. Drain and toss with a little olive oil to stop the pasta sticking together.</p>
					<p>5.Mix the filling ingredients together in a bowl, season with salt and pepper and transfer to a piping bag.</p>
					<p>6.Preheat the oven to 180°C/gas mark 4.</p>
					<p>7.Pipe some filling into each rigatoni tube and place the filled pasta in a baking dish.</p>
					<p>8.Pour half of the sauce over the pasta, giving a gentle stir to coat evenly, then pour over the rest of the sauce. Spread the torn mozzarella over the top then cover with a generous grating of Pecorino. Bake in the oven for 25 minutes.</p>
					<p>9.Season with freshly ground black pepper and garnish with fresh basil.</p>
				</section>
			</div>
</div>
<footer>
		<h2>Contact</h2>
			<address id="contact">
				<p>Calea Floreasca nr. 60, București, România.</p>
				<p>E-mail:<a href="mailto:g.meronne@restaurant.ro">g.meronne@restaurant.ro</a></p>
				<p>Telefon:0336750011.</p>
				<a href="/#sectiune11">Before you contact us,be sure wheter the answer is on the page or not!Jump to the first page!</a>

			</address>
		</footer>
		<div class="restaurant2"></div>
</body>
</html>