*{

	font-family:Century Gothic;
	
	padding:30px;
	
}
body{
	/*background-image:url("restaurant2.jpg");
	background-repeat:no-repeat;
	background-blend-mode:lighten;
	background-position:absolute;
	background-attachment:fixed;
	background-size:cover;*/
	padding:50px;
	
}
header{
	position:cover;
	
	width:100%;
	height:100%;
	
	
}
#sectiunea2,#sectiunea3,#sectiunea4,#sectiunea5,#sectiuneaspec{
	text-decoration:none;
	color:black;
	text-align:center;
}
.banner{
	background-image:url("fundal2.jpg");
	background-repeat:no-repeat;
	background-blend-mode:lighten;
	background-position:absolute;
	margin-top:-100px;
	padding:10px;
	width:1490px;
	height:200px;
	margin-left:-90px;
	}

html{
height:100%;
}
.subtitlu{
  position:center fixed;
  font-size:12px;
  margin-top:-80px;
  -webkit-animation-name: mymove;
  animation-name: mymove;
  -webkit-animation-duration:5s;
  animation-duration:5s;
}

.sectiune{
	
	margin-top:-80px;
	font-family:Hancock;
	font-style:italic;
	text-align:center;
	font-size:20px;
	color: #fff;
	padding:5px;
	width:100%;
	height:20px;

	
}



/*nav *{
display:inline;
width:100%;
padding:0.8 rem;
}

.bara{
	display:flex;
	 position: fixed;
    width: 100%;
	font-size:18px;
	text-decoration:none;
	justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: relative;
	margin-top:35px;
}

.bara a{
	text-decoration:none;
	list-style:none;
	color:white;
}

.meniu{
    display:none;
    position: absolute;
    left: 0;
     min-width: 7rem;
    margin-top: 0.8rem;
	margin-top:-77px;
	padding:0px;
	
}

*/
/*.meniu>ul>a {
    float: left;
	text-decoration:none;
	list-style:none;
    display: block;
    text-align: left;
	 padding-left: 0.8rem;
    margin-top: 0.1rem;
	width:50px;
	overflow:hidden;
	
     
}

.bara ul li:hover a{
	 background-color: rgba(255, 255, 255, 0.8);
	 border-radius:30px;
	padding:5px;
		width:5px;
		height:10px;}
	
.meniu>li>a:hover{
    background-color: rgba(255, 255, 255, 0.8);
	width:30px;
}

.meniu li:hover{
 background-color: rgba(255, 255, 255, 0.8);
 width:20px;
}

.bara:hover .meniu{
    display: block;
    z-index: 1;
}

.bara::after{
    content: ">";
}*/


#contact{
	text-align:left;
	width:500px;
	
}
banner.sticky{
	top:0px;
position:sticky;
padding:10px;}

nav{	display:inline;
		width:100%;
		top:20px;
		position:relative;
	}


	ul.menu>li, ul.menu>li>ul.submenu>li{
		display:block;
		color:white;
		font-size:16px;
		height:1.2rem;
		line-height:1.2rem;
		text-align:center;					
		list-style-type:none;
		overflow:hidden;					
	}
	ul.menu>li{
	 float:left;		
	 width:12%;		
	}
	ul.submenu>li{
	 width:150px;
	 color:#000000;
	 text-decoration:none;
	
	}
	ul.submenu>li a{
	 width:200px;
	 text-decoration:none;
	 color:#000000;
	}
	ul.menu>li>a,ul.menu>li>div,ul.submenu>li>a{
		display:block;
		height:	100%;
		width:100%;
		text-decoration:none;
		
	}
	ul.menu>li>a,ul.menu>li>div{
		color:white;
	}

	ul.menu>li>ul.submenu{
		position:relative;
		top:0px;
	}

	ul.menu>li>ul.submenu>li:last-child
	{
		border-bottom:1px solid black;
	}

	ul.menu>li>a:hover,ul.submenu>li>a:hover{
		background-color: rgba(255, 255, 255, 0.8);
		
		text-decoration:none;
		color:#000000;
	}
	ul.menu>li:hover{
		overflow:visible;

	}
	
	ul.menu>li>a:hover
	{
		background-color: rgba(255, 255, 255, 0.8);
		border-radius:30px;
		height:10px;
		padding:15px;
	}
	.menu::after{
    content: ">";
}
	
