#intro{
	position:center;
	background-image:url("pasta.jpg");
	background-repeat:no repeat;
	background-color: rgba(255, 255, 255, 0.8);
	background-size:cover;
	text-align:center;
	
}
.reteta1{
	text-align:wrap;
}
.articol1 img
{position:relative;


}