*{
	margin:0;
	padding:0;
	font-family: Juliet;
}
body{
	/*background-image:url("meniu.jpg");*/
	background-size:cover;
	box-sizing:border-box;
	padding-left: 50px;
	padding-right: 50px;
	text-align:center;
	position:fixed;
	background-repeat:no-repeat;

}
.subacasa{
	display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto;
}
.subsectiune{
	  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.headerul{
grid-area:header;}

#sectiune {
	height:30%;
	font-family:Hancock;
	font-style:italic;
	text-align:center;
	font-size:40px;
	background-color: #fff;
	padding:0px 0px;
	box-sizing:border-box;
	position:fixed;
		
}
.subtitlu{
  position: center;
  font-size:15px;
  -webkit-animation-name: mymove;
  animation-name: mymove;
  -webkit-animation-duration:5s;
  animation-duration:5s;
}

@keyframes mymove {
	from {left: 0px;}
  to {left: 200px;}
}

.imagine{
	width:200;
	height: 40%;
	float: right;
}
.logo img{
	width: 300px;
	margin-top: -90px;
	height:100%;
	background-position:fixed;
	margin-right: 900px;
}
.bara{width:100%;
height:100%;
}
.meniu ul{
	display:inline-flez;
	margin:50px;
}
.meniu ul li{
	float:left;
	list-style:none;
	margin:0 20 px;
	position:relative;
	cursor:pointer;
}
.acasa{
	width:80%;
	height:70%;
	top:25%;
	left:130px;
	position:absolte;
}
.subacasa
{width:50;
float:left;
}
.subacasa h3{
	font-size:40px;
	font-style:italic;
	width:640px;
	position:relative;
	margin-left:40px;
}
.subacasa p{
	width:640px;
	font-size:20px;
	margin:30px0 30px 40px;
	line-height:25px;
}
nav{height:60px;
	width:100%;
	
}
nav p{
	font-family:arial;
	font-size:18px;
	padding:0 px 25px;
	float:left;
	line-height:55px;
}
	
nav ul li a{
	float:left;
	list-style:none;
	font-family:arial;
	font-size:18px;
	padding:20 px 14px;
	display:block;
	text-decoration:none;
}

nav ul li ul{
	display:none;
	background:gray;
	position:absolute;
	padding:12px;

}
nav ul li:hover ul{
	display:block;

}
nav ul li ul li{
	width:180px;
}
nav ul li ul li a{
	display:block;
	background:gray;
	position:absolut
	padding:8px 14px;
}
nav ul li ul li:hover{
	background-color:gray;
}

	

