<footer>
    <h2>Contact</h2>
			<address id="contact">
				<p>Calea Floreasca nr. 60, București, România.</p>
				<p>E-mail:<a href="mailto:g.meronne@restaurant.ro">g.meronne@restaurant.ro</a></p>
				<p>Telefon:0336750011.</p>
				<p><a href="#subsectiune1">Before you contact us,be sure wheter the answer is on the page or not!Jump to the first page!</a></p>
			</address>
</footer>