<div class="banner">
				<div class="headerul">
                    <header>
					<div class="sectiune">
							<h1> Meronne </h1>
							<aside class="subtitlu"> The little Italy on your taste buds since <time datetime="2015-06-01"> 01.06.2015.</time></aside></div>
						<nav >
								<ul class="menu">
										
										
											<li><a href="/">Home</a>
													<ul class="submenu">
														<li><a href="/#subsectiune1" >Ce este Meronne?</a></li>
														<li><a href="/#subsectiune2">Program</a></li>
														<li><a href="/#subsectiune3">Specific Italienesc</a></li>
														<li><a href="/#subsectiune4">Most wanted this month!</a></li>
													</ul>
										
											</li>	
											<li><a href="/recipes"> Recipes </a></li>
											<li><a href="/menu"> Menu </a></li>
											<li><a href="/gallery">Gallery</a></li>
											<li><a href="/order"> Order online </a></li>
											<li><a href="/book"> Book a table </a></li>
                                             <% if(!locals.username) { %>
                            <li><a href="/cos">Log in</a></li>

                                    <% }
                                        else { %>
                                           
                                            <li><a href="/logout">Logout- <%= locals.username %> </a></li>
                                        <% } %>
											<li class="cos">
												<a href="/cos"><span>0</span><img class="shop" src="Imagini/shopping-cart-32.ico"></img>
												</a>
                            
											</li>

								</ul>
						</nav>
                	</header>
				</div>
	
</div>