
/*.continut{
	padding:20px;
	border-radius:5px;
}*/
html,body{
	height:100%;
}

.continut{
	padding:35px 0px 35px;
	margin-right:25px;
}

input[type=text],select,textarea{
	width:100%;
	padding:12px;
	border:1px solid #ccc;
	border-radius:4px;
}
	
select{
	width:40%;
}
input[type=submit]{
	background-color:#DEB887;
	padding: 12px 20px;
	border:none;
	border-radius:4px;
	cursor:pointer;
	float:right;
}
.rand{
	height:2px;
    clear:both;
    padding:0px;
}
.coloana2{
	float:left;
	width:60%;
	margin-top:6px;
    padding:0px;
}
	
select{
	resize:vertical;
}
label{
	display:inline-block;
	float:left;
	width:20%;
	margin-top:12px;
    clear:both;
    padding-top:5px;
    padding-left:12px;
    padding-right:100px;
    
}
textarea{
	resize:none;
	height:200px;
}
.rand:after{				/*proprietate css pentru a pastra elementele formularului la locul lor*/
	content:"";
	display:table;
	clear:both;
}
.formular{	

    width:100%;
    height:70rem;
    background-image:linear-gradient(rgba(0,0,0,0.4));
    background-image:url("../Imagini/book.jpg");
    background-position:center;
    background-size:cover;
    position:aboslute;
}
.form-box{
    width:70%;
    height:55rem;
    background-color:rgba(255,229,204,0.5);
    padding:5px;
    position:relative;
    margin:6% auto;
}
@viewport{
	width: 320px auto;
}
@-ms-viewport{
	width:extend-to-zoom;
	zoom: 1.0;
}


@media screen and (max-width:1063px){
    .formular{	

    width:100%;
    height:90rem;
    }
    .form-box{
        height:87rem;
        }
}

