.wrapper{
    display:inline-flex;
    justify-content: center;
    float:none;
    clear:both;
    
}
.rand>.pret{
    height:80px;
width:100px;
padding-Left:80px;
padding-right:0px; 
margin-left:30px;
}
span#hide{
     -webkit-transform:scale(0.77);
    -moz-transform:scale(0.77);
        transform:scale(0.77);
    font-size:18px;
    margin-left:50px;
}
span#hide >a{
    list-style: none;
    text-decoration:none;
   color: black;
}
span#hide >a:hover{
     background:linear-gradient(to right,#ff105f,#ffad06);
    border-radius:30px;
    transition:.5s ease-out;
     padding:10px 30px;
    cursor:pointer;
}
.container{
	justify-content:space-around;
	align-content:center;
	position:relative;
    float:none;
    -webkit-transform:scale(0.77);
    -moz-transform:scale(0.77);
        transform:scale(0.77);
    font-size:18px;
    background-color:white;
    margin-left:-150px;
    width:100%;

}

.bara_prod{
	display:inline-flex;
    flex-wrap:wrap;
    position:relative;
	padding-top:0px;
    padding-right:0px;
    padding-bottom:100px;
	height:73px;
	justify-content:flex-start;
	font-size:15px;
	width:100%;
    max-width:900px;
	margin-top:50px;
	margin-left:30px;
    float:none;
}
.bara_prod class{
	align-items:center;
}
.container{
	box-sizing:border-box;
	clear:both;
}

.products{

	align-items:center;
	flex-wrap:wrap;
	display:flex;
	margin-left:0px;
    padding-left:20px;
	width:100%;
	clear:both;
}
.rand{

    display:inline-flex;
align-items:center;
    padding: 0px;
}
.bara_prod>.pret{
 width:100px;
border-bottom: 2px solid;
display:inline-flex;
align-items:center;}
 .bara_prod>.produs{
    width:330px;
	border-bottom: 2px solid;
	display:inline-flex;
	align-items:center;
}

.bara_prod>.cantitate{
    width:190px;
	border-bottom: 2px solid;
	display:inline-flex;
	align-items:center;
}
.pret{
    width:100px;
display:inline-flex;
align-items:center;
}
.total{
width:100px;
display:flex;
align-items:center;
}
.produs{
    width:330px;
	display:inline-flex;
	align-items:center;
}
.cantitate{
    width:190px;
	display:inline-flex;
	align-items:center;
    margin-left:-70px;
}
.bara_prod>.total{
width:100px;
border-bottom: 2px solid;
display:flex;
align-items:center;}
.formular {
    height:20%;
    max-width:450px;
    margin-top:10%;
    width:380px;
    background-image:linear-gradient(rgba(0,0,0,0.4));
    background-image:url("../Imagini/banner.jpg");
    background-position:center;
    background-size:cover;
    position:aboslute;
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
        transform:scale(1);
    font-size:25px;
    margin-left:-10%;
}
.form-box{
    max-width:400px;
    width:100%;
    height:480px;
    background-color:white;
    padding:5px;
    position:relative;
    margin:6% auto;
    overflow:hidden;
}
.button-box {
    max-width:210px;
    max-height:2px;
    margin:35px auto;
    position:relative;
    box-shadow:0 0 20px 9px #ff61241f;
    border-radius:30px;
}
.toggle-btn{
    padding:0px 30px;
    cursor:pointer;
    background:transparent;
    border:0;
    outline:none;
    position:relative;
}
#btn{
    top:0;
    left:0;
    position:absolute;
    width:39%;
    height:1px;
    background:linear-gradient(to right,#ff105f,#ffad06);
    border-radius:30px;
    transition:.5s;
}
.social-icons{
    margin:30px auto;
    text-align:center;
    position: relative;
    width:100%;
        margin-left:-32px;
    }
.social-icons>img {
width:30px; 
text-align:center;
margin:0px 0px;
cursor:pointer;
border-radius:55%;
position:relative;
margin-top:-57px;

}
.input-group{
    margin-top:-100px;
    position:relative;
    width:45%;
    transition:.5s;
}
.input-field{
    width:100%;
    padding:10px0;
    margin:5px 0;
    border-left:0;
    border-bottom:1pxsolid #999;
    border-right:0;
    border-top:0;
    outline:none;
    background:transparent;
    height:3px;
}
.submit-btn{
    width:85%;
    padding:10px 30px;
    cursor:pointer;
    display:block;
    margin:auto;
    background:linear-gradient(to right,#ff105f,#ffad06);
    border-radius:30px;
    border:0;
    outline:none;
    margin-top:-22px;
}
.check-box{
    margin:30px 10px 30px 0;
}
 .check-box~span{
    color:#777;
    font-size:12px;
    bottom:68px;
    position:absolute;
     top:56%;
     height:30px;
     padding-bottom:0px;
}
#login{
    left:50px;
}
#register{
    left:450px;
}
@viewport{
	width: 320px auto;
}
@-ms-viewport{
	width:extend-to-zoom;
	zoom: 1.0;
}
@media screen and (max-width:1446px){
    .container,.products{
        /*clear:both;
		display:block;
        padding:12px 10px 12px 10px;*/
             width:100vw;
        float:none;
        clear:both;
}
    .bara_prod{
        padding-left:0px;
        width:100vw;
         float:none;
        clear:both;
        margin-left: -28px;
    }
    .products{
        margin-left:-50px;
    }
    .wrapper{
        display:block;
    }
    .rand{
        display:inline-flex;
        flex-wrap:wrap;  
    }
    .formular{
        margin:auto;
    }
   /*.form-box *{
       display:block;
    }
    .*/
  }
@media screen and (max-width:1300px){
    .formular{
        width:100%;
        margin:auto;
    }
}
@media screen and (max-width:850px){
   
    .rand{
        display:block;
    }
   .container *{
        border:none;
			padding:0;
			margin:0;
			display:block;
    }
   
    .container{
        display:block;
			padding:0.2em;
			box-sizing:border-box;
    }
    .rand>.produs::before{
    content:"Produs: ";
        
    }
    .rand>.pret::before{
          content:"Pret:";
    } 
    .rand>.total::before{
          content:"Total:";
    } 
    .rand>.cantitate::before{
        content:"Cantitate:";
    }
    .container~.rand{
        border-bottom:none;
			border-top:none;
			float:left;
			width:80%;
			padding-left:2%;
			padding-right:2%;
    }
    .container div::before{
        float:left;
			width:35%;
			background:lightgrey;
			font-weight:bold;
			margin-right:0.5em;
			padding:0.1em;
			line-height:100%;
    }
    .container>.cantitate {
        display:inline-block;
    }
     .bara_prod{
            float: left;
    width: 35%;
    font-weight: bold;
    margin-right: 0.5em;
    padding: 0.1em;
    line-height: 100%;
        display:block;
    border-bottom: :none;
    }
    .rand>.pret{
        height:25px;
        padding:0px;
        margin:0px;
    }
    .cantitate{
        display:inline-flex;
    }
    .bara_prod>.produs,.bara_prod>.pret,.bara_prod>.total,.bara_prod>.cantitate{
        border :0px;
    }
}