footer{
	clear:both;
}
.restaurant2{
background-image:url("../Imagini/restaurant2.jpg");
background-size:cover;
background-attachment:fixed;
background-repeat:no-repeat;
width:100%;
height:400px;
position:relative;
left:-2vw;
margin-top:0px;
filter:blur(8px);
-webkit-filter:blur(8px);
}
#contact
{	display:block;
	position:absolute;
	z-index:1;
	font-size:18px;
	height:60px;
	margin-left:-30px;
	width:50%;
}
#contact a{
	text-decoration:none;
	color:#000000;
}
#contact p{
	box-sizing:border-box;
width:200px;
height:50px;

}
@viewport{
	width: 320px auto;
}
@-ms-viewport{
	width:extend-to-zoom;
	zoom: 1.0;
}

@media (min-width: 1025px) and (max-width: 1280px) {
	.restaurant{
		width:80%;
		background-size:100% 100%;
}}


@media screen and (max-width:600px){
	.restaurant2{
		display:none;
	}
	#contact{
		position:relative;
		float:left;
		box-sizing:border-box;
		width:100%;
		margin-left:-7em;
	}
	#contact h2,#contact p{
		margin-top:-3em;
	}
	#contact p,#contact a{
	font-size:.8em;}
}