.restaurant2{
background-image:url("../Home/restaurant2.jpg");
background-size:cover;
background-attachment:fixed;
background-position:sticky;
background-repeat:no-repeat;
width:1460px;
height:400px;
position:relative;
margin-left:-90px;
margin-top:-100px;
filter:blur(8px);
-webkit-filter:blur(8px);
}
#contact
{	display:block;
	position:absolute;
	z-index:1;
	font-size:18px;
	height:60px;
	margin-left:-30px;
}

#contact p{
	box-sizing:border-box;
width:600px;
height:50px;

}
