body{

background-color:#EEE8AA;
}
#container{
	display:inline-flex;
 flex-wrap: wrap;
justify-content:center;
align-items:center;
align-content:center;
width:70vw;
}

.item img{
	width:23em;
}

#container>figure{
	flex-grow:1;
	flex-shrink:1;
	flex-basis:10px;
	width:20%;
}


@media screen and (max-width:970px){
	#container{
		display:block;
		float:right;
		width:73vw;
	}
	.item img{
	width:20em;
}
}
@viewport{
	width: 320px auto;
}
@-ms-viewport{
	width:extend-to-zoom;
	zoom: 1.0;
}
/*@media screen and (min-width:769px) and (max-width:1024px){
	.headerul{
	width:100vw;
	height:30vw;
	margin-left:0vw;}
	
}
@media screen and (min-width:425px) and (max-width:582px){
.headerul{
	height:60vw;}
}
@media screen and (min-width:769px) and (max-width:986px){
.headerul{
	width:100vw;
	margin-left:-117px;
}
.headerul{
	width:100vw;}
}
@media screen and (max-width:425px){
.headerul{
	height:80vw;}
}
@media screen and (max-width:375px){
.headerul{
height: 90vw;
    width: 100vw;
 margin-left: -20px;}
}*/
