body{
background-color:#F5F5DC;;
}
#container{
	display:inline-flex;
 flex-wrap: wrap;
justify-content:center;
align-items:center;
align-content:center;
width:70vw;
}

.item img{
	width:23em;
}

#container>figure{
	flex-grow:1;
	flex-shrink:1;
	flex-basis:10px;
	width:20%;
}


@media screen and (max-width:970px){
	#container{
		display:block;
		float:right;
		width:73vw;
	}
	.item img{
	width:20em;
}
}
@viewport{
	width: 320px auto;
}
@-ms-viewport{
	width:extend-to-zoom;
	zoom: 1.0;
}
