
.subtitlu{
  font-size:12px;
  margin-top:-44px;

}


.sectiune{
	
	margin-top:-78px;
	font-family:Hancock;
	font-style:italic;
	text-align:center;
	font-size:20px;
	color: #fff;
	padding:35px;
	width:100%;
	height:50px;


}

nav {	display:inline-flex;
		flex-wrap:wrap;
		line-height:20px;
		height:10px;
		top:20px;
    width:99%;
	}
	
	ul.menu>li{
		margin-top:-3px;
		display:block;
		color:white;
		font-size:16px;
		height:1.4rem;
		line-height:1.4rem;
		text-align:center;					
		list-style-type:none;
		overflow:hidden;	
		z-index:800;	
	}
ul.menu{
		margin-top:28px;
	}
	ul.menu>li{
	 float:left;		
	 width:9vw;
	 z-index:1;
	}
	ul.menu>li>ul.submenu>li{
		display:block;
		list-style-type:none;
		width:100%;
		 color:#000000;
		 text-decoration:none;
		 height:2rem;
		 line-height:2rem;
		 z-index:1000;
	 	padding:0px;
	}
	ul.menu>li>ul.submenu>li a:last-child{
		border-bottom:1px solid;
		z-index:1000;
	}
	ul.submenu>li>a{
	display:block;
	height:1.95rem;
	line-height:1rem;
	 text-decoration:none;
	 color:#000000;
	 width:100%;
	text-align:center;
	z-index:1000;
	padding:0px;
	font-size:1.1rem;
	}
	
	ul.menu>li>a{
		display:block;
		width:100%;
		text-decoration:none;
		z-index:1;
		border-radius:30px;
		transition:background-color 1s;
		z-index:800;
		font-size:1.1rem;
	}
	ul.submenu{
	background-color:rgb(128, 128, 128);
	width:110%;
	z-index:100;
	padding:0;
	}


	ul.menu>li>a{
		color:white;
	}

		ul.menu>li:hover{
		overflow:visible;
		z-index:800;
	}
	
	ul.menu>li>a:hover
	{
		background-color: rgb(128, 128, 128);
		z-index:600;
	}
	ul.submenu>li>a:hover{
		background-color: rgb(255, 255, 255);
		z-index:1000;
	}

	ul.menu>.cos a{
	width:70px;
	height:15px;
	}
	ul.menu>.cos>a .shop{
		margin-top:-60px;
		position:relative;
		margin-left:-15px;
		padding:27px;
	}
	ul.menu>.cos>a span{
	padding:50px;}






