
#intro{
	position:relative;
	width:80vw;
	background-image:url("../Recipes/pasta.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	text-align:center;
	border-bottom:5px double;
	z-index:-10;
}
#intro h2{
	font-size:20px;
}
#intro p{
	font-size:20px;
	text-shadow:1px 1px #000000;
}
.continut h2
{	
	background-color:rgb(255,255,255);
	width:80vw;
	text-align:center;
	font-size:30px;
	opacity:0.8;
	border-top:4px double;
	border-bottom:4px double;
	font-size:22px;
	position:relative;
	margin-top:200px;
	
}
#reteta1
{
	box-sizing:border-box;
	margin-top:50px;
	font-size:20px;
height:55vw;
width:41vw;
}
#reteta1>p{
	margin-top:-20px;
}
.subcontinut img{
	position:relative;
	top:-820px;
	width:50vw;
	right:-33vw;
	z-index:-10;
}

.container{
	height:71vw;
width:45vw;}
@viewport{
	width: 320px auto;
}
@-ms-viewport{
	width:extend-to-zoom;
	zoom: 1.0;
}

